.headlog{
    background-color: yellowgreen;
}
.bar{
    background-color: brown;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}
.picture{
    height: 500px;
    width: auto;
    gap: 15px;
    display: flex;
}
}